{% extends 'base.html' %}

  {% block content %}


    <h1>Welcome To My Page</h1>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/1P3CU0jDDy8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <img width="400" height="500" src="https://lh3.googleusercontent.com/q_ctGGAoDrjwaJvwFb1VGNkshmFLa84UwPn63m8aj6DmrbYnEg_JPHhmDYgEO-qzgsgq3B8sc6BEIwvWexkGkZaiauBDEDCVo3j1cfAsOGGAvZSrwCZU_8tQ1YMK9GOrJpr2XFH9QeU=w2400?source=screenshot.guru">



    <script src="/static/js/hello.js"></script>



  {% endblock %}
